<script lang="ts">
    import { page } from "$app/stores";
</script>

<div class="flex flex-col items-center">
    <h1 class="text-lg font-bold text-red-500">
        Error {$page.status}
    </h1>
    <p>
        {$page.error?.message}
    </p>
    <p class="mt-4">
        <a href="/" class="font-bold hover:italic">Back</a>
    </p>
</div>
