<script lang="ts">
    import { onMount } from "svelte";
    import "../app.postcss";
    import { afterNavigate } from "$app/navigation";
    import { page } from "$app/stores";
    import "@fortawesome/fontawesome-free/css/all.min.css";
    import Link from "$lib/components/Link.svelte";

    interface Props
    {
        children?: import("svelte").Snippet;
    }

    let { children }: Props = $props();

    let title: HTMLHeadingElement | undefined = $state();
    let header: HTMLElement | undefined = $state();
    let showLinks = $state(false);
    let fade = $state(false);
    let move = $state(true);
    let contentVisible = $state(false);
    let loaded = $state(false);
    let canTrack = $state(true);

    async function typeText(element: HTMLElement, text: string, doReturn = false, cursor = true): Promise<unknown>
    {
        const typingSpeed = 80;
        let i = 0;
        element.innerText = "|";
        const interval = setInterval(type, typingSpeed);
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        let promiseResolve: any;
        const promise = new Promise((resolve) => { promiseResolve = resolve; });

        function type(): void
        {
            if (i > text.length)
            {
                clearInterval(interval);
                fade = true;
                setTimeout(() =>
                {
                    element.innerText = doReturn ? "" : text;
                    promiseResolve();
                    fade = false;
                }, typingSpeed * 2);
                return;
            }
            element.innerText = text.substring(0, i) + (cursor ? "|" : "");
            i++;
        }

        return promise;
    }

    // eslint-disable-next-line no-undef
    async function blinkCursor(element: HTMLElement): Promise<NodeJS.Timeout | number>
    {
        const blinkSpeed = 500;
        function blink(): void
        {
            element.innerText = element.innerText.endsWith("|")
                ? element.innerText.substring(0, element.innerText.lastIndexOf("|")) + "\u200B"
                : element.innerText + "|";
        }

        return setInterval(blink, blinkSpeed);
    }

    onMount(async () =>
    {
        canTrack = localStorage.getItem("canTrack") !== "false";

        if ($page.route.id === "/")
        {
            move = true;
            contentVisible = false;
            title!.innerText = "|";
            // eslint-disable-next-line no-undef
            let interval: NodeJS.Timeout | number | undefined = undefined;
            // pre-cache /api/projects to hide the long load
            fetch("/api/projects").then(async () =>
            {
                clearInterval(interval);
                await typeText(title!, "ls /", true);
                showLinks = true;
                await typeText(title!, "echo \"ASTRELION\"", true);
                title!.innerText = "ASTRELION";
            });
            interval = await blinkCursor(title!);
        }
        else
        {
            move = false;
            title!.innerText = "ASTRELION";
            showLinks = true;
            setTimeout(() =>
            {
                contentVisible = true;
            }, 400);
        }

        loaded = true;
    });

    afterNavigate(async () =>
    {
        if ($page.route.id === "/")
        {
            move = true;
            contentVisible = false;
        }
        else
        {
            move = false;
            setTimeout(() =>
            {
                contentVisible = true;
            }, 400);
        }
    });
</script>

<svelte:head>
    <title>{$page.data.meta?.title}</title>

    <!-- Standard meta -->
    <meta name="author" content="{$page.data.meta?.author}" />
    <meta name="description" content="{$page.data.meta?.description}" />
    <meta name="keywords" content="{$page.data.meta?.keywords}" />

    <!-- Open Graph -->
    <meta property="og:title" content="{$page.data.meta?.title}" />
    <meta property="og:type" content="{$page.data.meta?.type}" />
    <meta property="og:image" content="{$page.data.meta?.image}" />
    <meta property="og:image:alt" content="{$page.data.meta?.description}" />
    <meta property="og:image:height" content="{$page.data.meta?.imageHeight?.toString()}" />
    <meta property="og:image:width" content="{$page.data.meta?.imageWidth?.toString()}" />
    <meta property="og:url" content="{$page.data.meta?.url}" />
    <meta property="og:description" content="{$page.data.meta?.description}" />
    <meta property="og:site_name" content="{$page.data.meta?.title}" />

    <!-- Twitter -->
    <meta property="twitter:title" content="{$page.data.meta?.title}" />
    <meta property="twitter:description" content="{$page.data.meta?.description}" />
    <meta property="twitter:image" content="{$page.data.meta?.image}" />
    <meta property="twitter:image:alt" content="{$page.data.meta?.description}" />
    <meta property="twitter:image:height" content="{$page.data.meta?.imageHeight?.toString()}" />
    <meta property="twitter:image:width" content="{$page.data.meta?.imageWidth?.toString()}" />
    <meta property="twitter:url" content="{$page.data.meta?.url}" />
    <meta property="twitter:card" content="summary" />

    {#if (canTrack)}
        <script src="https://cdn.counter.dev/script.js" data-id="5f5efda7-e903-43a1-a51f-cd1054243297" data-utcoffset="-6"></script>
    {/if}
</svelte:head>

<div id="content" class="flex flex-col items-center h-[100vh] overflow-hidden relative">
    <!-- Header -->
    <header class="flex flex-col items-center w-min mb-8 relative z-50" bind:this={header} class:animate-top={loaded} class:top-half={move} class:top-none={!move}>
        <!-- ASTRELION -->
        <a href="/" class="block text-center whitespace-nowrap overflow-hidden w-min mb-2">
            <h1 class="text-5xl sm:text-7xl md:text-8xl font-bold invisible tracking-widest h-0">ASTRELION</h1>
            <h1 class="text-5xl sm:text-7xl md:text-8xl font-bold tracking-widest pl-2" bind:this={title} class:fade-out={fade}>
                <noscript>
                    ASTRELION
                </noscript>
            </h1>
        </a>
        <!-- Nav -->
        <nav class="w-fit">
            <h1 class="text-5xl sm:text-7xl md:text-8xl font-bold invisible tracking-widest h-0">ASTRELION</h1>
            <ul class="text-xl sm:text-2xl md:text-4xl font-bold w-full flex flex-wrap gap-4 justify-between text-gray-500" class:hidden={!showLinks}>
                <li class="hover:text-gray-50" class:text-gray-50={$page.route.id === "/projects"}>
                    <Link href="/projects" noDefault>/projects</Link>
                </li>
                <li class="hover:text-gray-50" class:text-gray-50={$page.route.id === "/about"}>
                    <Link href="/about" noDefault>/about</Link>
                </li>
                <li class="hover:text-gray-50" class:text-gray-50={$page.route.id === "/links"}>
                    <Link href="/links" noDefault>/links</Link>
                </li>
            </ul>
            {#if $page.data.links}
                {@const SvelteComponent = $page.data.links}
                <div class="mt-8" class:hidden={!showLinks}>
                    <SvelteComponent />
                </div>
            {/if}
            <noscript>
                <p class="mt-4">This site requires JavaScript to work best.</p>
                <p class="mt-4">If that's not your thing, here are my most important links:</p>
                <ul class="mt-4">
                    <li>
                        Mastodon: <a href="https://mastodon.social/@astrelion" rel="me" class="underline">https://mastodon.social/@astrelion</a>
                    </li>
                    <li>
                        GitLab: <a href="https://gitlab.com/ASTRELION" class="underline">https://gitlab.com/ASTRELION</a>
                    </li>
                    <li>
                        Email: <a href="mailto:contact@astrelion.com" class="underline">contact@astrelion.com</a>
                    </li>
                </ul>
            </noscript>
        </nav>
    </header>
    <!-- Content -->
    <div
        id="scroll-area"
        class="w-full flex justify-center overflow-y-scroll h-full animate-opacity"
        class:opacity-100={contentVisible}
        class:opacity-0={!contentVisible}
    >
        <div class="w-min h-full">
            {@render children?.()}
            <h1 class="text-5xl sm:text-7xl md:text-8xl font-bold invisible tracking-widest h-0">ASTRELION</h1>
        </div>
    </div>
</div>

<style lang="postcss">
.animate-top
{
    transition: top 0.5s, margin-top 0.5s;
}

.animate-opacity
{
    transition: opacity 0.25s;
}

.top-half
{
    top: 35%;
    @apply mt-0;
}

.top-none
{
    top: 0%;
    @apply mt-16;
}

.fade-out
{
    animation: fade 0.15s forwards;
}

@keyframes fade
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}
</style>
