<script lang="ts">
    import Link from "$lib/components/Link.svelte";
    import { onMount, tick } from "svelte";
    import ProjectCard from "$lib/components/ProjectCard.svelte";
    import { Sorts, activeTab } from "./data";
    import type { PageData } from "./$types";
    import type { Project } from "$lib/types";

    interface Props
    {
        data: PageData;
    }

    let { data }: Props = $props();

    let allProjects: Project[] = [];
    let activeProjects: Project[] = $state([]);
    const gameTags = ["game", "minecraft-plugin", "godot", "unity"];
    const webTags = ["html", "css", "javascript", "nodejs", "web", "svelte"];
    const botTags = ["bot", "discord-bot", "mastodon-bot"];
    let projectScroll: HTMLDivElement;

    let activeSort: Sorts = $state(Sorts.FEATURED);

    const awaitInit = init();

    async function setSort(sort: string): Promise<void>
    {
        activeSort = sort as Sorts;

        switch (activeSort)
        {
            case Sorts.FEATURED:
                activeProjects = allProjects.filter((x) => x.featured !== null);
                activeProjects.sort((a, b) => a.featured! - b.featured!);
                break;

            case Sorts.GAMES:
                activeProjects = allProjects.filter((x) => x.tags.some((tag: string) => gameTags.includes(tag.toLowerCase())));
                break;

            case Sorts.WEB:
                activeProjects = allProjects.filter((x) => x.tags.some((tag: string) => webTags.includes(tag.toLowerCase())));
                break;

            case Sorts.BOTS:
                activeProjects = allProjects.filter((x) => x.tags.some((tag: string) => botTags.includes(tag.toLowerCase())));
                break;

            case Sorts.ALL:
            default:
                activeProjects = allProjects;
                break;
        }

        if (projectScroll)
        {
            await tick();
            projectScroll.scrollTo({ top: 0, behavior: "smooth" });
        }
    }

    async function backToTop(): Promise<void>
    {
        projectScroll.scrollTo({ top: 0, behavior: "smooth" });
    }

    async function init(): Promise<void>
    {
        const resolved = await data.streamed.projects;
        allProjects = resolved;
        setSort(activeSort);
    }

    onMount(async () =>
    {
        await awaitInit;
        await tick();
        projectScroll = document.getElementById("scroll-area") as HTMLDivElement;
        activeTab.subscribe(setSort);
    });
</script>

<!-- Project list -->
<div>
    {#await awaitInit}
        <p class="loading w-full text-center"></p>
    {:then}
        <ul class="w-full flex flex-col gap-4">
            {#each activeProjects as project (project.name)}
                <li class="flex">
                    <ProjectCard project={project} showAlt={activeSort === Sorts.FEATURED} />
                </li>
            {/each}
            <li class="flex justify-center">
                <Link
                    href="#"
                    on:click={() => backToTop()}
                    title="Back to top"
                    class="m-2 p-4 pr-8 pl-8 font-bold box-border text-gray-500 hover:text-gray-50"
                    noDefault
                >
                    <i class="fa-solid fa-turn-up"></i>
                </Link>
            </li>
        </ul>
    {/await}
</div>

<style lang="postcss">
.loading::after
{
    content: "";
    animation: loading 1s infinite alternate-reverse;
}

@keyframes loading
{
    0%
    {
        content: "";
    }
    33%
    {
        content: ".";
    }
    66%
    {
        content: ".."
    }
    100%
    {
        content: "...";
    }
}
</style>
