<script lang="ts">
    import { Sorts, activeTab } from "./data";

    interface Props
    {
        activeSort?: Sorts;
    }

    let { activeSort = $bindable($activeTab) }: Props = $props();
</script>

<div class="flex gap-4 justify-around text-xs w-full">
    {#each Object.values(Sorts) as sort}
        <button
            class="border-2 border-gray-500 hover:border-gray-50 p-2 rounded-sm uppercase font-bold"
            class:flex-grow={sort !== "all"}
            class:bg-gray-50={activeSort === sort}
            class:text-black={activeSort === sort}
            class:!border-gray-50={activeSort === sort}
            onclick={() => { activeTab.set(sort); activeSort = sort; }}
        >
            {sort}
        </button>
    {/each}
</div>
