<script lang="ts">
    import { page } from "$app/stores";
    import Link from "$lib/components/Link.svelte";
    import { onMount, tick } from "svelte";
    import type { PageData } from "./$types";
    import type { LinkItem } from "$lib/types";

    interface Props
    {
        data: PageData;
    }

    let { data }: Props = $props();

    let links: LinkItem[] = $state([]);
    let activeTag = $state("");

    let awaitInit = init();

    async function init(): Promise<void>
    {
        const resolved = await data.streamed.links;
        links = resolved;
    }

    onMount(async () =>
    {
        await awaitInit;
        await tick();
        activeTag = $page.url.hash.substring(1);
        if (activeTag)
        {
            const element = document.getElementById(activeTag);
            element?.scrollIntoView({ behavior: "smooth" });
        }
    });
</script>

<div>
    {#await awaitInit then _}
        <ul class="w-full flex flex-col gap-4">
            {#each links as link}
                <li id="{link.tag}" class="flex gap-2" class:active={activeTag === link.tag}>
                    {#each link.items ?? [] as item}
                        <Link href={item.url} title={item.url} id={item.tag} class="block w-full button" noDefault>
                            <i class="{item.icon}"></i>
                            {item.name}
                        </Link>
                    {:else}
                        <Link href={link.url} title={link.url} class="block w-full button" noDefault>
                            <i class="{link.icon}"></i>
                            {link.name}
                        </Link>
                        {#if link.extras}
                            {#each link.extras as extra}
                                <Link href={extra.url} title={extra.hover} class="w-min button" noDefault>
                                    <i class="{extra.icon}"></i>
                                </Link>
                            {/each}
                        {/if}
                    {/each}
                </li>
            {/each}
            <li class="flex justify-center">
                <Link class="block p-4 pl-8 pr-8 m-2" href="https://gitlab.com/ASTRELION/astrel-portfolio">
                    Source
                </Link>
            </li>
        </ul>
    {/await}
</div>

<style lang="postcss">
.active
{
    @apply relative;
}

.active::before
{
    content: "";
    @apply absolute -left-4 h-full w-1 bg-white;
}

.active::after
{
    content: "";
    @apply absolute -right-4 h-full w-1 bg-white;
}
</style>
