<script lang="ts">
    import Link from "$lib/components/Link.svelte";
    import { onDestroy, onMount } from "svelte";

    const helloWorlds: readonly string[] = [
        "Hello, world!",
        "48656c6c6f2c20776f726c6421",                       // Base 16 (Hex)
        "JBSWY3DPFQQHO33SNRSCC===",                         // Base 32
        "01001000 01100101 01101100 01101100 " +            // Base 2 (Binary)
            "01101111 00101100 00100000 01110111 " +
            "01101111 01110010 01101100 01100100 " +
            "00100001",
        "print(\"Hello, world!\")",                         // Python/Dart/GDScript
        "console.log(\"Hello, world!\");",                  // JavaScript
        "System.out.println(\"Hello, world!\");",           // Java
        "printf(\"Hello, world!\");",                       // C
        "std::cout << \"Hello, world!\" << std::endl;",     // C++
        "println!(\"Hello, world!\");",                     // Rust
        "Console.WriteLine(\"Hello, world!\");",            // C#
        "print \"Hello, world!\";",                         // PHP
        "fmt.Println(\"Hello, world!\")",                   // Go
        "<p>Hello, world!</p>",                             // HTML
    ];

    let canTrack = $state(true);
    let interval: ReturnType<typeof setInterval>;
    let helloWorldVisible = $state(true);
    let helloWorld = $state(helloWorlds[0]);

    onMount(() =>
    {
        canTrack = localStorage.getItem("canTrack") !== "false";

        interval = setInterval(async () =>
        {
            helloWorldVisible = false;
            let newHello = helloWorld;
            while (newHello === helloWorld)
            {
                newHello = helloWorlds[Math.floor(Math.random() * helloWorlds.length)];
            }
            await new Promise((r) => setTimeout(r, 1050));
            helloWorld = newHello;
            helloWorldVisible = true;
        }, 10000);
    });

    onDestroy(() =>
    {
        clearInterval(interval);
    });

    async function toggleTracking(): Promise<void>
    {
        if (localStorage.getItem("canTrack") !== "false")
        {
            localStorage.setItem("canTrack", "false");
        }
        else
        {
            localStorage.removeItem("canTrack");
        }

        window.location.reload();
    }
</script>

<div>
    <p
        class="fade break-all"
        class:opacity-100={helloWorldVisible}
        class:opacity-0={!helloWorldVisible}
    >
        {helloWorld}
    </p>
    <p>
        I'm Astrelion (Astrel for short), a software engineer with an interest in
        video games, open-source software, and privacy.
    </p>
    <p>
        <Link href="/projects">/projects</Link> is a live list of my GitLab and
        GitHub projects. The <span class="italic">featured</span> tab contains projects
        I'm particularly proud of or those I'm currently working on.
    </p>
    <p>
        <Link href="/links">/links</Link> is a list of my public contact information
        and online accounts. If something isn't there, you can usually find me at
        the username <span class="italic">ASTRELION</span> or
        <span class="italic">KingASTRELION</span>.
    </p>
    <p>
        If you'd like to contact me, the best methods are either to mention me on
        <Link href="https://mastodon.social/@astrelion">Mastodon</Link> or to send
        me an <Link href="mailto:contact@astrelion.com">email</Link>. Both methods
        are available on the <Link href="/links">/links</Link> page, too.
    </p>
    <p>
        This site was made by me with <Link href="https://typescriptlang.org">TypeScript</Link>,
        <Link href="https://svelte.dev">Svelte</Link>[<Link href="https://kit.svelte.dev">Kit</Link>],
        <Link href="https://tailwindcss.com">TailwindCSS</Link>,
        <Link href="https://fontawesome.com">Font Awesome</Link>,
        and <Link href="https://bun.sh">Bun</Link>. It's GNU AGPL licensed with
        the source available <Link href="https://gitlab.com/ASTRELION/astrel-portfolio">here</Link>.
    </p>
    <p class="italic text-xs">
        This site collects simple, anonymous statistics via <Link href="https://counter.dev">Counter</Link>.
        <Link href="" on:click={toggleTracking}>Opt-{canTrack ? "out" : "in"}</Link>.
    </p>
    <p>
        <Link href="/" noDefault><img src="/crown.svg" class="w-8" alt="White crown" /></Link>
    </p>
</div>

<style lang="postcss">
p
{
    @apply pt-2 pb-2;
}

.fade
{
    transition: all 0.5s;
}
</style>
