@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face
{
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-VF.ttf") format("truetype"),
         url("/fonts/FiraCode-VF.woff") format("woff"),
         url("/fonts/FiraCode-VF.woff2") format("woff2");
    font-display: swap;
}

body
{
    background: rgb(247,49,252);
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), linear-gradient(45deg, rgba(255, 50, 255, 1) 0%, rgba(40, 255, 255, 1) 100%);
    @apply text-gray-50;
    font-family: "Fira Code", monospace;
    height: 100%;
}

*::-webkit-scrollbar
{
    width: 2px;
}

*:hover::-webkit-scrollbar
{
    width: 4px;
}

*::-webkit-scrollbar-thumb
{
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 24px;
}

*::-webkit-scrollbar-thumb:hover
{
    background-color: rgba(255, 255, 255, 1);
}

*
{
    scrollbar-color: rgba(255, 255, 255, 0.75) rgba(0, 0, 0, 0); /* thumb track */
    scrollbar-width: thin;
}

.button
{
    @apply p-4 border-2 border-gray-50 rounded-sm text-center box-border;
}

.button-hover,
.button:hover,
.button:focus,
.button:active
{
    @apply bg-gray-50 text-gray-950;
}

li:first-child a
{
    @apply mt-0;
}
