<script lang="ts">
    import { onMount, type Snippet } from "svelte";
    import type { MouseEventHandler } from "svelte/elements";

    interface Props
    {
        /** URL or URL fragment that the link goes to. */
        href: string | undefined | null;
        /** A space-separated list of the classes of the anchor element. */
        class?: string;
        /** The title. */
        title?: string;
        /** Whether to include default styles or not. */
        noDefault?: boolean;
        children?: Snippet;
        [key: string]: any
    }

    let {
        href,
        class: clazz = $bindable(""),
        title = "",
        noDefault = false,
        children,
        ...rest
    }: Props = $props();

    let attributes = $state({});
    let defaultClass = "font-bold hover:underline underline-offset-4";

    onMount(() =>
    {
        if (href)
        {
            const current = window.location.hostname;
            const url = new URL(href, window.location.origin);

            // external URLs should open in a new tab
            if (current !== url.hostname)
            {
                attributes = {
                    ...attributes,
                    target: "_blank"
                };
            }

            // Mastodon URLs should have rel="me" for verification
            if (url.hostname.includes("mastodon"))
            {
                attributes = {
                    ...attributes,
                    rel: "me"
                };
            }
        }

        if (title)
        {
            attributes = {
                ...attributes,
                title: title
            };
        }

        if (!noDefault)
        {
            clazz = `${defaultClass} ${clazz}`.trim();
        }

        if (clazz)
        {
            attributes = {
                ...attributes,
                class: clazz
            };
        }
    });
</script>

<a href="{href}" {...attributes} {...rest}>
    {@render children?.()}
</a>
