<script lang="ts">
    import linkifyString from "linkify-string";
    import Link from "$lib/components/Link.svelte";
    import { onMount } from "svelte";
    import { parse } from "marked";
    import { normalizeName } from "$lib/util";
    import type { Project } from "$lib/types";

    interface Props
    {
        project: Project;
        showAlt?: boolean;
    }

    let { project, showAlt = false }: Props = $props();
    let altDescription: string | null = $state("");
    let description = $state("");

    onMount(async () =>
    {
        altDescription = project.altDescription;
        if (altDescription)
        {
            altDescription = await parse(altDescription);
            altDescription = altDescription.replaceAll("<a", "<a target='_blank' class='font-bold hover:underline underline-offset-4'");
            altDescription = altDescription.trim();
            altDescription = altDescription.replaceAll("\n", "<br />");
        }

        description = project.description;
        if (description != null)
        {
            description = linkifyString(description, {
                className: "font-bold hover:underline underline-offset-4",
                target: "_blank"
            });
            description = description.trim();
            description = description.replaceAll("\n", "<br />");
        }
    });
</script>

<div id="{normalizeName(project.name)}" class="flex project w-full">
    <Link class="w-full button" href={project.url} noDefault>
        <div class="flex items-center justify-between h-min gap-4">
            <div class="flex flex-col gap-1 flex-grow">
                <h2 class="flex flex-wrap gap-[0rem_1rem] items-center">
                    <!-- Project name -->
                    <span>
                        <i class="fa-brands fa-{project.platform}"></i>
                        <span class="font-bold">{project.name}</span>
                        {#if project.isFork}
                            <span class="text-gray-600">(fork)</span>
                        {/if}
                    </span>
                    <!-- Project stats -->
                    {#if project.stars > 0}
                        <span title="Stars">
                            <i class="fa-solid fa-star"></i>
                            {project.stars}
                        </span>
                    {/if}
                    {#if project.forks > 0}
                        <span title="Forks">
                            <i class="fa-solid fa-code-fork"></i>
                            {project.forks}
                        </span>
                    {/if}
                </h2>
                <!-- Project description -->
                {#if !showAlt && description}
                    <div class="text-gray-400 text-left description">
                        <!-- eslint-disable-next-line svelte/no-at-html-tags -->
                        {@html showAlt ? "" : description ?? ""}
                    </div>
                {/if}
                {#if showAlt && altDescription}
                    <div class="text-gray-400 text-left alt-description">
                        <!-- eslint-disable-next-line svelte/no-at-html-tags -->
                        {@html showAlt ? altDescription ?? "" : ""}
                    </div>
                {/if}
                <!-- Project tags -->
                {#if project.tags.length > 0}
                    <div class="flex-wrap gap-2 text-xs text-gray-500 hidden tags lowercase">
                        {#each project.tags as tag}
                            <span>#{tag}</span>
                        {/each}
                    </div>
                {/if}
            </div>
            <!-- Project image -->
            <div class="h-16 w-16 flex-shrink-0">
                {#if project.image}
                    <img src="{project.image}" alt="{project.name} logo" class="w-full h-full object-contain" />
                {/if}
            </div>
        </div>
    </Link>
</div>

<style lang="postcss">
.project > :first-child:hover .description,
.project > :first-child:hover .alt-description
{
    @apply text-gray-700;
}

.project > :first-child:hover .alt-description
{
    @apply block;
}

.project > :first-child:hover .tags
{
    @apply flex;
}
</style>
